<h1>Encontrar Endereço por CEP</h1>

<div id="form-total">
    <form action="/cep/findAddress" method="post">
        <div class="form-control">
            <input type="text" name="cep" placeholder="Digite o CEP" maxlength="8">
        </div>
        <input type="submit" value="Buscar" class="btn">
    </form>
</div>