<h1>Encontrar Endereço por CEP</h1>

<form action="/cep/findAddress" method="post">
    <div class="form-control">
        <label for="cep">CEP:</label>
        <input type="text" name="cep" placeholder="Digite o CEP" maxlength="8">
    </div>
    <input type="submit" value="Pesquisar">
</form>
