<div id="cep">
    <h1>CEP</h1>
    <div class="results">
        {{#if vazio}}
            <h3>CEP não encontrado</h3>
        {{else}}
            {{#each data}}
            <div class="datas">
                <p> CEP: <a>{{this.cep}}</a>, Bairro: <a>{{this.bairro}}</a> </p>
                <hr>            
            </div>
            {{/each}}
        {{/if}}
    </div>
</div>